<div class="post_header">
	<div class="vote_panel">
	<% vote = post.votes.new %>
	<%= form_for [post,vote] do |f| %>
	<%= f.button "", name: 'type_value', value: Vote::UPVOTE_VALUE, class: "icon-arrow-up vote-button" %>
	<div class="vote_count"><%= post.score %></div>
	<%= f.button "", name: 'type_value', value: Vote::DOWNVOTE_VALUE, class: "icon-arrow-down vote-button" %>
	<% end %>
	</div>
	<div class="entry">
		<div class="title"><%= url_link_for(post) %></div>
		<div class="submission_details">
			<p>Posted <%= time_ago_in_words(post.updated_at) %> ago by <%= post.user.username %></p>
			<p><%= link_to comment_count_for(post), post_url(post, anchor: 'comments') %></p>
		</div>
	</div>
</div>