<%= render @post %>
	
<a name="comments"></a>
<% if @post.comments.count > 0 %>
<h3>Comments</h3>

<div class="comments">
<ul>
	<% @post.comments.each do |comment| %>
		<li>
			<i><%= comment.user.username %> says: </i>  
			<%= comment.content %>
		</li>
	<% end %>
</ul>
</div>
<% else %>
<h3>No comments yet</h3>
<% end %>

<% if logged_in? %>
<div class="comment_form">
<h3>Post a comment</h3>
<%= form_for [@post,@comment] do |f| %>
<%= f.text_area :content, rows: 5 %>
<br/>
<%= f.submit "Post" %>
<% end %>
</div>
<% end %>